



# exclude everything except files in working directory ~$/Unity/project/Assets/~

*.
/AFX
/Image_Sequence
/neo_test_animations
/Premiere
/Stills

/Unity/builds/*
/Unity/project/*.
/Unity/project/library
/Unity/project/Assets/Models
/Unity/project/Assets/OVR
/Unity/project/ProjectSettings
/Unity/project/Assets/Plugins
/Unity/project/Assets/Resources
/Unity/project/Assets/SteamVR

#!/Unity/project/Assets/Animations/*
#!/Unity/project/Assets/Audio/*
#!/Unity/project/Assets/Images/*
#!/Unity/project/Assets/Materials/*
#!/Unity/project/Assets/Prefabs/*
#!/Unity/project/Assets/Scenes/*
#!/Unity/project/Assets/Scripts/*
#!/Unity/project/Assets/Shaders/*
#!/Unity/project/Assets/Textures/*